{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css\loginoregister\password_reset_confirm.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Sparklay | Сброс пароля</title>
</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="{% static '/images/icons/a3137d467ae76275 (2).png' %}" alt="" style="width: 60px; height: 60px; margin-right: 5px;">
            Sparklay
        </a>
    </div>
    <main>
        <div class="container">
            <div class="text-tablo">
                <h1>Сброс пароля</h1>
                <p>Введите новый пароль для вашего аккаунта:</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {% if message.tags == "success" %}
                                <p class="success">{{ message }}</p>
                            {% elif message.tags == "error" %}
                                <p class="error">{{ message }}</p>
                            {% else %}
                                <p>{{ message }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
    
                    <label for="new_password1" class="form_label" data-icon="p">новый пароль <span style="color: brown;">*</span></label>
                    <input id="new_password1" name="new_password1" class="form_input" style="width: 80%;" required="required" type="password" placeholder="***********" />               
    
                    <label for="new_password2" class="form_label" data-icon="p">подтвердите пароль <span style="color: brown;">*</span></label>
                    <input id="new_password2" name="new_password2" class="form_input" style="width: 46%;" required="required" type="password" placeholder="***********" />
                    <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                    
                <button type="submit" class="btn-primary">Сохранить пароль</button>
            </form>
        </div>
    </main>
    <script src="{% static "js/systemlogin.js" %}"></script>
</body>
</html>