{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css\loginoregister\password_reset_form.css" %}">
    <title>Sparklay | Сброс пароля</title>
</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="{% static '/images/icons/a3137d467ae76275 (2).png' %}" alt="" style="width: 60px; height: 60px; margin-right: 5px;">
            Sparklay
        </a>
    </div>
    <main>
        <div class="container">
            <h2>Введите email <br>и вам отправиться на почту инструкция</h2>
            <form method="POST">
                {% csrf_token %}
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="message {{ message.tags }}">
                                {% if message.tags == "success" %}
                                    <p class="success">{{ message }}</p>
                                {% elif message.tags == "error" %}
                                    <p class="error">{{ message }}</p>
                                {% else %}
                                    <p>{{ message }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <input type="email" name="email" class="form_input" placeholder="Введите ваш email" required>
                <button type="submit" class="send-mail-reset-link">Отправить инструкцию</button>
            </form>
        </div>
    </main>
</body>
</html>