{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/loginoregister/verify_code.css' %}">
    <title>Sparklay</title>
</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="{% static '/images/icons/a3137d467ae76275 (2).png' %}" alt="" style="width: 60px; height: 60px; margin-right: 5px;">
            Sparklay
        </a>
    </div>
    <main>
        <div class="container">
            <h2>Введите код <br>отправленный на вашу почту</h2>
            <form method="POST">
                {% csrf_token %}
                
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {% if message.tags == "success" %}
                                <p class="success">{{ message }}</p>
                            {% elif message.tags == "error" %}
                                <p class="error">{{ message }}</p>
                            {% else %}
                                <p>{{ message }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                <input class="form_input" type="text" name="code" placeholder="Введите код" style="width: 62.5%;" required>
                <button class="accese-btn" type="submit">Подтвердить</button>
            </form>
            
            <p class="backtosing-btn"><a href="{% url 'user:loginOrSingIn' %}">Вернуться к входу</a></p>
        </div>
    </main>
</body>
</html>